$blue: #527aff;
$gray: #828282;
$black: #333333;
$dark-gray: #555555;

@font-face {
	font-family: 'Grantipo';
	src: url('assets/GrantipoBeta001-Regular.ttf');
}

@font-face {
	font-family: 'Grantipo';
  font-weight: bold;
	src: url('assets/GrantipoBeta001-Bold.ttf');
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Grantipo';
	width: 100%;
	font-size: 16px;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

h1 {
	font-size: 64px;
}

span {
	font-size: 20px;
}

a {
  text-decoration: none;
  color: $blue;
}

input {
	height: calc(40px - 20px); // 2(8px padding + 2px border)
  
  margin: 0.5rem;
  padding: 0.5rem;
	border: 2px solid $gray;

  font-family: Grantipo;
  font-size: 16px;
	text-align: center;
  outline: none;
}

button {
  height: calc(40px);

  margin: 0.5rem;
  padding: 0.5rem;
  
  font-family: Grantipo;
  font-size: 16px;
  outline: none;

  background: $black;
  color: white;
  border: none;
  cursor: pointer;

  transition: ease all 0.3s;

  &:hover {
    background: $dark-gray;
  }
}